@media screen and (max-width: 1280px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 200px 34px 65px;
    display: flex;
    flex-direction: column;
    &::before {
      content: "";
      height: 179px;
      width: 100%;
      background-color: #000;
      position: fixed;
      top: 0px;
      left: 0;
      z-index: 2;
    }
    .topic {
      position: fixed;
      color: #e6e6e6;
      width: 40px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.48px;
      margin: 0 auto;
      left: 50%;
      top: 74px;
      z-index: 3;
      transform: translateX(-50%);
    }
    .scrollBox2 {
      margin-top: 10px;
      padding: 21px 0;
      height: calc(100vh - 244px);
      overflow-y: scroll;
      position: relative;
      .imgM {
        background-image: url("../../assets/works/music/img-m.png");
        width: 75px;
        height: 115px;
        position: absolute;
        top: 957px;
        right: 30%;
      }
      .imgTextM {
        background-image: url("../../assets/works/music/img-text-m.png");
        width: 73px;
        height: 114px;
        position: absolute;
        top: 957px;
        right: 53%;
        opacity: 0;
      }
    }
    .leftBlock {
      display: flex;
      flex-direction: column;
      position: relative;
      .box1 {
        display: none;
      }
      .info {
        text-align: center;
        .year {
          color: #e6e6e6;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1.44px;
        }
        .title {
          font-size: 20px;
          color: #5eac3a;
          line-height: 1.55;
          letter-spacing: 1px;
        }
        .feat {
          font-size: 12px;
          font-weight: 500;
          color: #e6e6e6;
          letter-spacing: 1.44px;
          margin-top: 14px;
        }
        .media {
          display: none;
        }
        .list {
          display: none;
        }
        .sImgM {
          width: 292px;
          height: 292px;
          margin: 25px auto 71px;
          position: relative;
          span {
            width: 100% !important;
            height: 100% !important;
          }
          .new {
            background: url("../../assets/works/new-icon.png") no-repeat;
            background-size: contain;
            width: 28px;
            height: 28px;
            position: absolute;
            right: -6px;
            top: -12px;
          }
        }
      }
    }
    .rightBlock {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .previewImg {
        width: 96px;
        height: 96px;
      }
      .new {
        display: none;
      }
      .text {
        display: none;
      }
    }
    .arrowUp,
    .arrowDown,
    .img,
    .imgText {
      display: none;
    }

    .innerPage {
      position: absolute !important;
      top: 67px !important;
      left: 0 !important;
      width: 100vw;
      height: calc(100vh - 67px);
      z-index: 999999999;
      -webkit-backdrop-filter: blur(5px);
      backdrop-filter: blur(5px);
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #000;
        opacity: 0.6;
        top: 0;
        left: 0;
        z-index: -1;
      }
      .scrollBox1 {
        height: calc(100vh - 104px);
        overflow-y: scroll;
        padding: 12px 0 41px;
        position: relative;
      }
      .inText1 {
        font-size: 15px;
        font-weight: 500;
        color: #e6e6e6;
        letter-spacing: 1.8px;
        text-align: center;
        margin-bottom: 12px;
        position: relative;
        .previous {
          background-image: url("../../assets/works/music/previous.svg");
          width: 41px;
          height: 18px;
          position: absolute;
          left: 34px;
        }
      }
      .inImgM {
        width: 140px;
        height: 140px;
        margin: 0 auto 20px;
      }
      .inText2 {
        font-size: 30px;
        font-weight: bold;
        line-height: 1.5;
        letter-spacing: 1.5px;
        color: #e6e6e6;
        text-align: center;
      }
      .inText3 {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.25;
        letter-spacing: 2.4px;
        color: #e6e6e6;
        margin: 23px 0 30px;
        text-align: center;
      }
      .mediaM {
        display: flex;
        width: 220px;
        margin: 0 auto 39px;
        justify-content: space-around;
        .imusicM {
          background-image: url("../../assets/works/music/imusic-m.svg");
          width: 39px;
          height: 39px;
        }
        .spotifyM {
          background-image: url("../../assets/works/music/spotify-m.svg");
          width: 39px;
          height: 39px;
        }
        .kkboxM {
          background-image: url("../../assets/works/music/kkbox-m.svg");
          width: 40px;
          height: 39px;
        }
      }
      .listM {
        color: #e6e6e6;
        padding-left: 20%;
        padding-right: 17px;
        & > div {
          display: flex;
          font-size: 15px;
          font-weight: 500;
          line-height: 1.61;
          letter-spacing: 0.93px;
          .number {
            width: 23px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    height: 650px;
    margin: 0 auto;
    padding: 30px 0 0 105px;
    display: flex;
    flex-direction: row;
    position: relative;
    .topic {
      display: none;
    }
    .innerPage {
      display: none;
      .listM {
        display: none;
      }
    }
    .leftBlock {
      display: flex;
      width: 541px;
      color: #414141;
      .sImg {
        width: 245px;
        height: 245px;
        box-shadow: 9px 9px 15px 0 rgba(0, 0, 0, 0.16);
        position: relative;

        .new {
          background: url("../../assets/works/new-icon.png") no-repeat;
          background-size: contain;
          width: 28px;
          height: 28px;
          position: absolute;
          right: -6px;
          top: -12px;
        }
      }
      .info {
        position: relative;
        margin-left: 46px;
        width: 250px;
        .year {
          font-size: 12px;
          font-weight: 500;
          margin-bottom: 1px;
          letter-spacing: 1.44px;
        }
        .title {
          font-size: 30px;
          font-weight: bold;
          letter-spacing: 3px;
        }
        .feat {
          margin-top: 21px;
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1.44px;
        }
        .media {
          position: absolute;
          top: 220px;

          display: flex;
          div {
            margin-right: 22px;
          }
        }
        .list {
          position: absolute;
          top: 286px;
          line-height: 1.61;
          letter-spacing: 0.93px;
          font-size: 15px;
          font-weight: 500;
          div {
            display: flex;

            .number {
              margin-bottom: 1px;
              width: 15px;
              text-align: left;
              margin-right: 6px;
            }
          }
        }
        .sImgM {
          display: none;
        }
      }
    }
    .scrollBox2 {
      display: flex;
    }
    .rightBlock {
      display: flex;
      width: 462px;
      flex-wrap: wrap;
      margin-left: 37px;
      margin-right: 0 !important;
      color: #414141;
      position: relative;
      div {
        width: 122px;
        margin-right: 32px;
        cursor: pointer;
        position: relative;

        .previewImg {
          width: 122px;
          height: 122px;
          position: relative;
          &:hover {
            box-shadow: 5px 5px 7px 0 rgba(0, 0, 0, 0.16);
          }
          .new {
            background: url("../../assets/works/new-icon.png") no-repeat;
            background-size: contain;
            width: 28px;
            height: 28px;
            position: absolute;
            right: 0;
            top: -12px;
            margin: 0 !important;
          }
        }

        .text {
          .year {
            font-size: 12px;
            font-weight: 300;
            letter-spacing: 0.72px;
            margin-top: 4.5px;
          }
          .title {
            font-size: 13px;
            font-weight: 500;
            line-height: 1.54;
            letter-spacing: 0.78px;
            color: #414141;
          }
          .feat {
            font-size: 12px;
            font-weight: 300;
            margin-top: 6px;
            letter-spacing: 0.72px;
          }
        }
      }
    }
    .arrowUp {
      position: absolute;
      right: 113px;
      bottom: 80px;
      width: 18px;
      margin: 0;
      cursor: pointer;
    }
    .arrowDown {
      position: absolute;
      right: 113px;
      bottom: 30px;
      width: 18px;
      margin: 0;
      cursor: pointer;
    }
    .img {
      position: absolute;
      top: 0px;
      right: 47px;
      cursor: pointer;
      &:hover + .imgText {
        animation: show 6.5s infinite;
      }
    }
    .imgText {
      position: absolute;
      top: 0px;
      right: 18px;
      opacity: 0;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
