.box {
  font-weight: 500;
  font-size: 16px;
  display: flex;
  color: #414141;
  .links {
    width: 180px;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    letter-spacing: 1.98px;
    a {
      color: #a5a5a5;
      margin-bottom: 13px;
      text-decoration: none;
    }
  }
}
.act {
  color: #414141 !important;
}
