@media screen and (max-width: 1280px) {
  .container {
    padding: 7px 31px 230px;
    .topic {
      margin: 0 auto;
      width: 78px;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.48px;
      color: #e6e6e6;
    }
    .date {
      position: relative;
      margin: 33px auto;
      width: 80px;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 1.8px;
      color: #e6e6e6;
      .previousM {
        position: absolute;
        left: -89px;
        background-image: url("../../assets/news/previous-m.svg");
        width: 41px;
        height: 18px;
      }
    }
    .title {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      color: #5eac3a;
      line-height: 1.5;
      letter-spacing: 1.5px;
      margin-bottom: 28px;
    }
    .previous {
      display: none;
    }
    .content {
      font-size: 15px;
      font-weight: 500;
      line-height: 1.61;
      letter-spacing: 1.86px;
      color: #e6e6e6;
      text-align: justify;
      text-align-last: left;
    }
    .img {
      display: none;
    }
    .imgText {
      display: none;
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 37px 0 0 99px;
    margin: 0 auto;
    width: 1280px;
    height: 650px;
    display: flex;
    position: relative;
    .topic {
      display: none;
    }
    .rightBlock {
      margin-top: -6px;
      width: 747px;
      color: #414141;
      position: relative;
      .previous {
        position: absolute;
        top: 0;
        left: -55px;
        cursor: pointer;
      }
      .date {
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1.56px;
        text-align: left;
        margin-bottom: 14px;
      }
      .title {
        font-size: 30px;
        font-weight: bold;
        letter-spacing: 3px;
        margin-bottom: 17px;
      }
      .content {
        font-size: 15px;
        font-weight: 500;
        line-height: 1.61;
        letter-spacing: 1.86px;
      }
    }
    .img {
      cursor: pointer;
      position: absolute;
      top: 562px;
      left: 129px;
      &:hover + .imgText {
        animation: show 6.5s infinite;
      }
    }
    .imgText {
      position: absolute;
      top: 495px;
      left: 129px;
      opacity: 0;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
