.container {
  padding: 37px 0 0 99px;
  margin: 0 auto;
  width: 1280px;
  height: 650px;
  display: flex;
  position: relative;

  .articleList {
    width: 747px;
    height: 471px;
    .listItem {
      margin-bottom: 25px;
      cursor: pointer;
      color: #414141;
      &:hover {
        color: #468b26;
      }
      .date {
        width: 69px;
        height: 18px;
        font-size: 13px;
        font-weight: 500;
        letter-spacing: 1.56px;
        margin-bottom: 3px;
      }
      .title {
        width: 747px;
        height: 28px;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 2px;
        margin-bottom: 4px;
      }
      .content {
        width: 747px;
        height: 46px;
        font-size: 15.5px;
        font-weight: 500;
        line-height: 1.61;
        letter-spacing: 1.71px;
        position: relative;
        .read {
          width: 197px;
          height: 17px;
          background-color: #fff;
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 12px;
          font-weight: 300;
          line-height: 1;
          z-index: 2;
          text-align: right;
          padding-top: 5px;
        }
      }
    }
  }
  .arrowBox {
    position: absolute;
    top: 550px;
    right: 115px;
    height: 61px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    div {
      height: 11px;
      cursor: pointer;
    }
  }
  .img {
    cursor: pointer;
    position: absolute;
    top: 562px;
    left: 129px;
    &:hover + .imgText {
      animation: show 6.5s infinite;
    }
  }
  .imgText {
    position: absolute;
    top: 495px;
    left: 129px;
    opacity: 0;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
