@media screen and (max-width: 1279px) {
  .container {
    width: 100% !important;
    height: 100% !important;
    padding: 169px 0 0 !important;
    flex-direction: column !important;
    overflow-y: hidden;
    &::after {
      content: "";
      width: 100vw;
      height: 179px;
      position: fixed;
      top: 0;
      background: #000;
    }
    .topic {
      position: fixed;
      top: 74px;
      left: 50%;
      transform: translateX(-50%);
      width: 78px;
      height: 26px;
      color: #e6e6e6;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.48px;
      margin: 0 auto 25px;
      z-index: 3;
    }
    .articleList {
      width: 100% !important;
      height: auto;
      position: relative;
      padding: 0 34px;
      .listItem {
        margin: 31px auto 60px;
        width: 100%;
        height: 145px;
        .date {
          text-align: center;
          height: 20px;
          font-size: 15px;
          font-weight: 500;
          letter-spacing: 1.8px;
          color: #e6e6e6;
          margin: 0 auto 7px;
        }
        .title {
          font-size: 20px;
          font-weight: bold;
          line-height: 1.55;
          letter-spacing: 1px;
          color: #5eac3a;
          margin: 0 auto 9px;
          text-align: center;
        }
        .content {
          width: 100%;
          height: 61px;
          line-height: 1.66;
          letter-spacing: 2px;
          font-size: 17px;
          font-weight: 300;
          color: #e6e6e6;
          margin: 0 auto;
          overflow: hidden;
          .read {
            display: none;
          }
        }
        .readM {
          font-size: 12px;
          font-weight: 500;
          letter-spacing: 1.44px;
          color: #5eac3a !important;
          width: 100%;
          text-align: right;
        }
      }
      a:not(:last-of-type) {
        &::after {
          content: "";
          margin: 0 auto;
          display: block;
          width: 252px;
          height: 1px;
          background-image: linear-gradient(
            to right,
            #fff 0%,
            #fff 50%,
            transparent 50%
          );
          background-size: 7px 1px;
          background-repeat: repeat-x;
        }
      }
      .imgBoxM {
        width: 262px;
        height: 113px;
        display: flex;
        padding-top: 15px;
        margin: 0 auto 20px;
        .imgM {
          background-image: url("../../assets/news/img-m.svg");
          width: 110px;
          height: 113px;
        }
        .imgTextM {
          background-image: url("../../assets/news/img-text-m.svg");
          width: 146px;
          height: 113px;
          opacity: 0;
        }
      }
    }
    .arrowBox,
    .imgText,
    .img {
      display: none;
    }
  }
}

@media screen and (min-width: 1280px) {
  .container {
    padding: 37px 0 0 99px;
    margin: 0 auto;
    width: 1280px;
    height: 650px;
    display: flex;
    position: relative;
    .topic {
      display: none;
    }

    .articleList {
      width: 747px;
      height: 471px;
      .listItem {
        margin-bottom: 25px;
        cursor: pointer;
        color: #414141;
        position: relative;
        &:hover {
          color: #468b26;
        }
        .date {
          width: 69px;
          height: 18px;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 1.56px;
          margin-bottom: 3px;
        }
        .title {
          width: 747px;
          height: 28px;
          font-size: 20px;
          font-weight: bold;
          letter-spacing: 2px;
          margin-bottom: 4px;
        }
        .content {
          width: 747px;
          height: 46px;
          font-size: 13px;
          line-height: 1.92;
          letter-spacing: 1.43px;
          overflow: hidden;
        }
        .read {
          width: 401px;
          height: 17px;
          background-color: #fff;
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 12px;
          font-weight: 300;
          letter-spacing: 1.44px;
          line-height: normal;
          z-index: 2;
          text-align: right;
          padding-top: 5px;
        }
        .readM {
          display: none;
        }
      }
    }
    .arrowBox {
      position: absolute;
      top: 550px;
      right: 115px;
      height: 61px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div {
        height: 11px;
        cursor: pointer;
      }
    }
    .img {
      cursor: pointer;
      position: absolute;
      top: 562px;
      left: 129px;
      &:hover + .imgText {
        animation: show 6.5s infinite;
      }
    }
    .imgText {
      position: absolute;
      top: 495px;
      left: 129px;
      opacity: 0;
    }
  }
}

@keyframes show {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
