@media screen and (max-width: 1280px) {
  .container {
    width: 100vw !important;
    height: 1200px !important;
    flex-direction: column;
    padding: 7px 34px 0px !important;
    align-items: center !important;
    background-color: #000;
    .title {
      display: block !important;
      color: #e6e6e6 !important;
      font-size: 18px;
      font-weight: 500;
      letter-spacing: 1.48px;
      text-align: center;
    }
    .avatar {
      display: none !important;
    }
    .avatarM {
      display: block !important;
      width: 292px;
      height: 174px;
      margin: 21px 0 25px;
    }
    .story {
      margin-left: 0 !important;
      width: 300px !important;
      height: 769px !important;
      text-align: start !important;
      color: #e6e6e6 !important;
    }
    .img {
      display: none !important;
    }
    .imgText {
      display: none !important;
    }
    .imgM {
      display: block !important;
      position: absolute;
      top: 1065px;
      left: -8px;
    }
    .imgTextM {
      display: block !important;
      position: absolute;
      top: 1065px;
      left: 126px;
      opacity: 0;
      &.animation {
        animation: show 6.5s infinite;
      }
    }
  }
}

.container {
  width: 1280px;
  height: 750px;
  padding: 30px 105px;
  margin: 0 auto;
  display: flex;
  position: relative;

  .title {
    display: none;
  }
  .avatarM {
    display: none;
  }
  .avatar {
    width: 245px;
    height: 245px;
  }
  .story {
    width: 747px;
    height: 371px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.61;
    letter-spacing: 1.86px;
    text-align: left;
    color: #414141;
    margin-left: 46px;
  }

  .imgText {
    position: absolute;
    right: 49px;
    bottom: 146px;
    opacity: 0;
  }
  .img {
    cursor: pointer;
    position: absolute;
    right: 53px;
    bottom: 47px;

    &:hover + .imgText {
      animation: show 6.5s infinite;
    }
  }
  .imgM {
    display: none;
  }
  .imgTextM {
    display: none;
  }
}
@keyframes show {
  0% {
    opacity: 0;
  }
  23% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
