@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap");

$NSTC: "Noto Sans TC", sans-serif;
$RS: "Roboto Slab", sans-serif;

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

nav {
  width: 1280px;
  height: 104px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 25px 15px 19px 21px;
  justify-content: space-between;

  .navLeft {
    display: flex;
    align-items: center;
    .media {
      margin-left: 27px;
      a {
        margin-right: 7px;
        position: relative;

        &:hover::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: -50%;
          left: 0;
          z-index: -1;
          transform: scale(1, 1.2);
          border-radius: 15px;
          background-color: #dff4d6;
        }
      }
    }
  }

  .navRight {
    display: flex;
    align-items: center;

    .link {
      margin-right: 45px;
      .active {
        color: #468b26;
        font-weight: 500;
      }
      a {
        // display: inline-block;
        margin-left: 49px;
        text-decoration: none;
        font-family: $NSTC;
        font-weight: 300;
        font-size: 16px;
        color: #414141;
        position: relative;

        &:hover::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: -1;
          transform: scale(1.3);
          border-radius: 15px;
          background-color: #dff4d6;
        }
        &:active {
          color: #468b26;
          font-weight: 500;
          &::after {
            background-color: #fff;
          }
        }
      }
    }
    .official {
      a {
        position: relative;

        &:hover::after {
          position: absolute;
          content: "";
          width: 100%;
          height: 100%;
          top: -50%;
          left: 0;
          z-index: -1;
          transform: scale(1);
          border-radius: 15px;
          background-color: #dff4d6;
        }
        &.active img {
          filter: invert(41%) sepia(71%) saturate(373%) hue-rotate(53deg)
            brightness(98%) contrast(87%);
        }
      }
    }
  }
}

.content {
  font-family: $NSTC;
}

.ReactCollapse--collapse {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  color: #414141;
  z-index: 2;
  transition: height 1000ms;

  .ReactCollapse--content {
    div {
      border-radius: 17px 17px 0 0;
      box-shadow: 6px 6px 12px 0 rgba(0, 0, 0, 0.16);
      padding: 17px 35px;
      display: flex;
      width: 1006px;
      height: 77px;
      p {
        width: 781px;
        height: 41px;
        font-family: $RS;
        font-size: 12px;
        line-height: 2;
        letter-spacing: 1.44px;
        margin: 0;
      }
      button {
        cursor: pointer;
        font-family: $NSTC;
        width: 136px;
        height: 43px;
        margin: 0 0 0 19px;
        padding: 9px 27px 8px;
        border: none;
        opacity: 0.5;
        border-radius: 21px;
        // background: rgba(223, 244, 214, 0.1);
        &:hover {
          background: rgba(223, 244, 214, 1);
        }
      }
    }
  }
}

footer {
  position: fixed;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  font-family: "Roboto Slab", serif;
  color: #a5a5a5;
  text-align: center;
  font-weight: 300;
  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      font-weight: bold;
    }
  }
}
