@media screen and (max-width: 1279px) {
  .container {
    display: none !important;
    background-color: #000;
  }
  .mask {
    width: 100% !important;
    height: 110px;
    position: absolute;
    padding: 0 !important;
    top: 0;
    z-index: 100;
    background: linear-gradient(to bottom, black 60%, transparent);
    &::after {
      filter: blur(5px);
    }
  }
  // 輪播圖照片樣式寫在globals
  .containerM {
    display: block !important;
    width: 100vw !important;
    // height: 100vh !important;
    // height: calc(100vh - calc(100vh - 100%));
    // padding: 0 !important;
    margin: 0 auto;
    overflow: hidden;
  }
  .p,
  .n {
    width: 22px;
    height: 44px;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    z-index: 2;
    cursor: pointer;
  }
  .p {
    left: 15px;
  }
  .n {
    right: 15px;
  }
}

@media screen and (min-width: 1280px) {
  .containerM {
    display: none;
  }
  .container {
    display: block;
    width: 1280px;
    height: 640px;
    padding: 0 22px 0 22px;
    margin: 0 auto;
    position: relative;
    .slideBox {
      img {
        width: 1237px !important;
        height: 640px !important;
        object-fit: cover;
      }
    }

    .p,
    .n {
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
      z-index: 2;
      cursor: pointer;
    }
    .p {
      left: 15px;
    }
    .n {
      right: 15px;
    }
  }
}
