@media screen and (max-width: 1280px) {
  .container {
    background-color: #000;
    width: 100% !important;
    padding: 0 !important;
    height: 100% !important;
    .block {
      width: 100% !important;
      height: calc(100vh - 67px - 278px) !important;
      top: 278px !important;
    }
    .img {
      display: none !important;
    }
    .imgM {
      display: block !important;
      width: 280px;
      height: 217px;
      position: absolute;
      top: 141px !important;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
.container {
  height: 735px;
  width: 1280px;
  padding: 0 22px;
  position: relative;
  margin: 0 auto;

  .img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 205px;
    z-index: 2;
  }
  .imgM {
    display: none;
  }
  .block {
    width: 1236px;
    height: 288px;
    position: absolute;
    bottom: 0;
    background-color: #bdead0;
    opacity: 0.51;
  }
}
